html {box-sizing:border-box;}
*, *::before, *::after {box-sizing:inherit; font-family: Arial, Helvetica, sans-serif; color:rgb(88, 87, 87)}

.container {
  width: 1000px;
  height: 100vh;
  margin:auto;
  display: flex;
  justify-content: space-between;
}

.profile img {
  width: 100%;
  border: 2px solid lightgrey;
}

.profile {
  width: 300px;
}

.profile button {
  width:100%;
  padding:10px;
  border-radius: 5px;
}

.profile p:nth-child(2) {
  font-size:20px;
}

.repos {
  width: 650px;
}

.repos .category ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid lightgray;
}

.repos .category ul li {
  margin: 0 10px;
  font-size: 14px;
  text-transform: capitalize;
}

.repos .category ul li:nth-child(2) {
  border-bottom: 2px solid orange;
}

.repos .repoList ul li {
  list-style: none;
  font-size: 20px;
  border-bottom: 2px solid lightgray;
  height: 100px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.repos .find {
  width:500px;
  padding: 5px;
}

.repos .repoList .language {
  width: 100%;
  font-size: 14px;
  margin: 10px 0;
}

.repos .repoList .item {
  color: rgb(55, 100, 248);
}

.repos .repoList .update {
  padding: 0 10px;
}